.App {
  text-align: center;
  background-color: #282c34;
  color: aliceblue;
  min-height: 100vh;
  min-width: 100vh;
}

.App-link {
  color: #61dafb;
}

.App h1 {
  color: aliceblue;
  font-weight: 700;
  font-size: 6rem;
}